.desktop-items-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    align-items: flex-start;
    max-height: 600px;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    grid-auto-flow: column;

}

.desktop-item-icon {
  width: 80px;
  height: 80px;
}

@media (max-height: 600px) {
  .desktop-items-grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

@media (max-height: 400px) {
  .desktop-items-grid {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
}