.desktop-items-container {
  display: flex;
  margin: 1% 1%;
  flex-direction: column;
  gap: 10px;
  font-family: Poppins Light;
  align-items: flex-start;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.item {
  display: flex;
  max-width: fit-content;
  align-items: center;
  flex-direction: column;
  color: white;
  gap: 5px;

}

.desktop-item-icon {
  width: 70px;
  height: 70px;
}

.snackbar{
  height: 100px;
  background-color: white;
  color: red;

}

@media (max-height: 600px) {}

@media (max-height: 400px) {} 
